.data-container {
    display: flex;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
}

.data-container__block {
    display: inline-block;
    align-items: center;
    margin: auto;
    width: 500px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.data-container__user {
    display: flex;
    justify-content: left;
    background-color: #FFFFFF;
    margin: 10px;
    
}

.data-container__input {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    background-color: #FFFFFF;
    width: 95%;
    height: 30px;
    margin: 10px;
}